.tart-hero-bg-image{
    background-image: url(/images/preloved-is-the-newnew-optimise.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 100%;


}