.nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  left: 0;
  right: 0;
  /* margin: 20px 0; */
  margin: 0 auto;
  /* padding: 0 3%; */
  padding: 5px 1%;
  max-width: 1530px;
}
.nav_shadow{
	box-shadow: 0 1px 0px 0 rgb(0 0 0 / 0.05);
}
i {
  font-size: 25px;
  color: #c4c4c4;
}

i:hover {
  color: #A95414;
}

.nav__btn-wrapper {
  position: relative;
  z-index: -5;
  color: gray;
}

.nav__counter {
  width: 17px;
  height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #A95414;
  color: #fff;
  border-radius: 50%;
  position: absolute;
  right: -16%;
  top: -17%;
  z-index: -5;
}
